* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #5D5D5D;
}

body {
    margin: 0;
    padding: 29px;
    font: 15px"\5B8B\4F53", sans-serif;
    background: #ffffff;
}

table,
td,
tr,
th {
    font-size: 15px;
}

li {
    list-style-type: none;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

address,
cite,
code,
em,
th {
    font-weight: normal;
    font-style: normal;
}

img {
    border: none;
}

.top {
	width: 100%;
	height: 15px;
    background-image: linear-gradient(120deg, #a5edbf 0%, #8fd3f4 100%)
}

.top a {
	display: block;
	width: 100%;
	height: 10px;
	margin: auto;
	
}